@import url("https://fonts.googleapis.com/css?family=Titillium+Web:wght@300;400;700&display-swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.images {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  width: 60%;
  margin: 100px auto;
  min-height: 70vh;
}

.image {
  width: 30%;
  height: 30%;
  color: #eee;
  border-radius: 10px;
  box-shadow: 3px 3px 3px #9996;
  overflow: hidden;
}

.image img {
  display: block;
  width: 100%;
}

.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  gap: 5px;
}

.pagination .page-num {
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 400;
}

.pagination .active {
  background-color: purple;
}
